*.json
*.db
.vs/*
output_dict.xhtml
__pycache__/*
openrussian-csvs/*
words4.zip
vocab_differences.txt
xhtmllist.txt
russian_dict_epub/OEBPS/Text/
output_dictionary1.xhtml
russian_dict_epub.epub
create_kindle_dict/Section0001 copy.xhtml
russian_dict_epub-conversionLog.csv
russian_dict_template/OEBPS/Text/*
russian_dict_template/OEBPS/content.opf
russian_dict_epub/OEBPS/content.opf
russian_dict.epub
russian_dict_template.zip
test.dict
test.mobi/OEBPS/*
test.idx
test.ifo
test.syn
testdict.epub
spanish_dict.mobi/OEBPS/*
spanish_dictionary.kobo/words
dict_cc_es_de/cdogsncgno-1581817799-77877e.txt
spanish_dict.mobi_old/OEBPS/*
spanish_dict.mobi_old2/OEBPS/*
spanish_dict.mobi_old3/OEBPS/*
spanish_dict.mobi_old4/OEBPS/*
spanish_dict.mobi_old5/OEBPS/*
spanish_dict.mobi_old6/OEBPS/*
*/__pycache__/*
english_dict/OEBPS/*
english_dict.mobi
italian_dict/OEBPS/*
spanish_dict/OEBPS/*
French_dict/OEBPS/*
compiled_kindle_dictionaries/*
German_dict/OEBPS/*
wrong_russian_canonical_forms.txt
Arabic_dict/OEBPS/*
Polish_dict/OEBPS/*
Portuguese_dict/OEBPS/*
Catalan_dict/OEBPS/*
Finnish_dict/OEBPS/*
Latin_dict/OEBPS/*
Swedish_dict/OEBPS/*
german.txt
german.txt.zip
spanish.txt
russian_dict.zip
russian.dict
russian.idx
russian.ifo
russian.syn
russian.dict.dz
russian.txt
(La Rueda Del Tiempo 1) Jordan, Robert - El Ojo del Mundo.epub
Brandon Sanderson - Alcatraz contra los bibliotecarios malvados.epub
Noch' v bashnie uzhasa - Robiert Louriens Stain.epub
results.tsv
wheel_of_time.tsv
noch_v_bashne.tsv
Thomas Ligotti - Teatro Grottesco.epub
common_nouns_german.txt
CREA_total_frequency.txt
CREA_total.TXT
CREA_total.zip
DeReKo-2014-II-MainArchive-STT.100000.freq
diccionario-rae-completo.txt
es_freq.xlsx
frequency-german.txt
frequency.csv
german_frequency_wordlist.txt
ligotti.tsv
words_in_RAE_not_in_Wiktionary_sorted.txt
words_in_RAE_not_in_Wiktionary.txt
russian.txt_
removed_glosses_edited.txt
removed_glosses.txt
words_only_in_phrases.txt
russianOld.txt
words_without_canonical_form.txt
