autopep8==1.6.0
backcall==0.2.0
colorama==0.4.4
DAWG-Python==0.7.2
debugpy==1.3.0
decorator==5.0.9
docopt==0.6.2
greenlet==1.1.0
ijson==3.1.4
inflect==5.3.0
ipykernel==6.0.2
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
jsonlines==2.0.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lxml==4.6.4
marisa-trie==0.7.7
matplotlib-inline==0.1.2
numpy==1.21.0
pandas==1.3.0
parso==0.8.2
penelope==3.1.3.0
pickleshare==0.7.5
prompt-toolkit==3.0.19
pycodestyle==2.8.0
pyglossary @ git+https://github.com/ilius/pyglossary.git@6b8ac383b21c147c80d9aad956d2198285c27833
Pygments==2.9.0
pyjsonlines==2.0.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pyzmq==22.1.0
six==1.16.0
sqlacodegen==2.3.0
SQLAlchemy==1.4.21
toml==0.10.2
tornado==6.1
traitlets==5.0.5
Unidecode==1.3.2
wcwidth==0.2.5
